In [3]:
import pandas as pd
from raimitigations.cohort.cohort_definition import CohortDefinition

df = pd.DataFrame({
    "race":     ['elf', 'orc', 'halfling', 'human', 'halfling', 'orc', 'elf', 'orc', 'human'],
    "height(m)":[1.6,   1.95,  1.40,       1.75,     1.53,      2.10,   1.85,  1.79,  1.65],
    "score":    [90,    43,    29,          99,      85,        73,      58,   94,    37]
})

In [4]:
conditions = [
                [ ['race', '==', 'elf'], 'or', ['race', '==', 'orc'] ],
                'and',
                ['height(m)', '>=', 1.8]
            ]

cht_def = CohortDefinition(conditions)
subset, _, _ = cht_def.get_cohort_subset(df)
subset

  race  height(m)  score
1  orc       1.95     43
5  orc       2.10     73
6  elf       1.85     58

In [5]:
conditions = [ [ ['height(m)', 'range', [1.1, 1.7]], 'and', ['race', '!=', 'halfling'] ] ]

cht_def = CohortDefinition(conditions)
subset, _, _ = cht_def.get_cohort_subset(df)
subset

    race  height(m)  score
0    elf       1.60     90
8  human       1.65     37

In [6]:
conditions = [ ['height(m)', '>', 1.5],
              'and',
              ['height(m)', '<', 1.99],
              'and',
              ['score', '<=', 70]
            ]

cht_def = CohortDefinition(conditions)
subset, _, _ = cht_def.get_cohort_subset(df)
subset

    race  height(m)  score
1    orc       1.95     43
6    elf       1.85     58
8  human       1.65     37