In [1]:
import sys
sys.path.append('../../../ResponsibleAIToolBox-Mitigation/')
import pandas as pd
from errorsmitigation.dataprocessing import DataSplit

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
data_dir = '../../datasets/hr_promotion'
dataset =  pd.read_csv(data_dir + '/train.csv').drop(['employee_id'], axis=1)
seed = 42

dataset.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
# # Parameters

# dataset - Panda Data Frame. 
# target – A string representing the name of the label column, or the label column integer index (zero base)
# train_size – The training data split size.  The default is 0.9, which split the dataset to 90% training and 10% testing. 
    # Training and Test split values add up to 1. 
# random_state – Control the randomization of the algorithm. 
    # ‘None’: the random number generator is the RandomState instance used by np.random.  
# categorical_features – A Boolean flag to indicates the presence of categorical features. Default is True.  
# drop_null: If flag is set to True, records with null values are dropped, otherwise they are replaced by the mean.
    # Default is True.
# drop_duplicates: if flag is set to True, duplicate records are dropped. Default is False.
# Stratify: If not None, data is split in a stratified fashion, using this as the class labels. Default is False.

# data before 
dataset.head()
print(dataset.shape)

target_index = dataset.columns.get_loc('is_promoted')

data_split =  DataSplit(dataset,target_index , 0.9, seed, True, True, True, True)
# data_split =  DataSplit(dataset, 'is_promoted', 0.9, seed, True, True, True, True)
train_data, test_data = data_split.Split()


# data after 
train_data.head()
print(train_data.shape)

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

(54808, 13)

../../../ResponsibleAIToolBox-Mitigation\errorsmitigation\dataprocessing\_data_split.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.dataset.dropna(axis=0, inplace=True)

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,department_Analytics,department_Finance,...,education_Below Secondary,education_Master's & above,education_nan,gender_f,gender_m,gender_nan,recruitment_channel_other,recruitment_channel_referred,recruitment_channel_sourcing,recruitment_channel_nan
24292,1,35,1.0,10,0,0,48,0,0,0,...,0,1,0,1,0,0,0,0,1,0
5724,1,29,3.0,3,0,0,74,0,0,0,...,0,0,0,1,0,0,1,0,0,0
40782,1,56,3.0,5,0,0,46,0,0,0,...,0,0,0,1,0,0,1,0,0,0
42178,1,35,2.0,9,0,0,67,0,0,0,...,0,1,0,1,0,0,1,0,0,0
20870,1,34,4.0,7,1,0,91,1,0,0,...,0,1,0,0,1,0,1,0,0,0

(43746, 64)

In [4]:
# stratify ON
print('Stratify ON')

#                 dataset
#                 target
#                 train_size
#                 random_state = None
#                 categorical_features = True 
#                 drop_null = True
#                 drop_duplicates = False
#                 is_stratify = False

data_split =  DataSplit(dataset, 12, 0.5, seed, False, False, True, True)
train_data, test_data = data_split.Split()

df_train = pd.DataFrame(train_data)
print('Train dataset % of target (1 over 0): ' + str(df_train.is_promoted.value_counts()[1] /
df_train.is_promoted.value_counts()[0]))
df_test = pd.DataFrame(test_data)
print('Test dataset % of target (1 over 0): ' + str(df_test.is_promoted.value_counts()[1] /
df_test.is_promoted.value_counts()[0]))
# df_train.is_promoted.value_counts().plot(kind='bar', title=' Train dataset count (is_promoted)')
# df_test.is_promoted.value_counts().plot(kind='bar', title='Test dataset count (is_promoted)')

Stratify ON
Train dataset % of target (1 over 0): 0.0932752278906125
Test dataset % of target (1 over 0): 0.0932315196098029

C:\Users\Akshara\Anaconda3\envs\databalancedev\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [5]:
# stratify OFF
print('Stratify OFF')


   
data_split =  DataSplit(dataset, 12, 0.5, seed, False, False, True, False)
train_data, test_data = data_split.Split()
df = pd.DataFrame(train_data)
print('Train dataset % of target (1 over 0): ' + str(df.is_promoted.value_counts()[1] /
df.is_promoted.value_counts()[0]))
df = pd.DataFrame(test_data)
print('Test dataset % of target (1 over 0): ' + str(df.is_promoted.value_counts()[1] /
df.is_promoted.value_counts()[0]))

Stratify OFF
Train dataset % of target (1 over 0): 0.09152961839374102
Test dataset % of target (1 over 0): 0.0949825811876827

C:\Users\Akshara\Anaconda3\envs\databalancedev\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(